<table border="1" cellpadding="40">
	<tr>
		<td class="box" data-board="" data-x="0" data-y="0" data-index="0"><span class="hideMe">X</span></td>
		<td class="box" data-board="" data-x="1" data-y="0" data-index="1"><span class="hideMe">X</span></td>
		<td class="box" data-board="" data-x="2" data-y="0" data-index="2"><span class="hideMe">X</span></td>
	</tr>
	<tr>
		<td class="box" data-board="" data-x="0" data-y="1" data-index="3"><span class="hideMe">X</span></td>
		<td class="box" data-board="" data-x="1" data-y="1" data-index="4"><span class="hideMe">X</span></td>
		<td class="box" data-board="" data-x="2" data-y="1" data-index="5"><span class="hideMe">X</span></td>
	</tr>
	<tr>
		<td class="box" data-board="" data-x="0" data-y="2" data-index="6"><span class="hideMe">X</span></td>
		<td class="box" data-board="" data-x="1" data-y="2" data-index="7"><span class="hideMe">X</span></td>
		<td class="box" data-board="" data-x="2" data-y="2" data-index="8"><span class="hideMe">X</span></td>
	</tr>
</table>

<div id="games"></div>

<div id="message"></div>

<button id="save">Save Game</button>
<button id="previous">Show Previous Games</button>
<button id="clear">Clear Current Game</button>
