<h1>Welcome to Tic Tac Toe</h1>

<div id="message"></div>

<p>
<button id="previous">Get All Games</button>
<button id="save">Save Game</button>
<button id="reset">Reset Game</button>
</p>

<table>
  <tr>
    <td data-x="0" data-y="0"></td>
    <td data-x="1" data-y="0"></td>
    <td data-x="2" data-y="0"></td>
  </tr>
  <tr>
    <td data-x="0" data-y="1"></td>
    <td data-x="1" data-y="1"></td>
    <td data-x="2" data-y="1"></td>
  </tr>
  <tr>
    <td data-x="0" data-y="2"></td>
    <td data-x="1" data-y="2"></td>
    <td data-x="2" data-y="2"></td>
  </tr>
</table>

<div id="games">
  <ul>
  </ul>
</div>


<script text="javascript/text" charset="utf-8">
  $(document).ready(function() {
    attachListeners();
  });
</script>
