<table border="1" cellpadding="40">
	<tr>
		<td id="row1-1" data-x="0" data-y="0"></td>
		<td id="row1-2" data-x="1" data-y="0"></td>
		<td id="row1-3" data-x="2" data-y="0"></td>
	</tr>
	<tr>
		<td id="row2-1" data-x="0" data-y="1"></td>
		<td id="row2-2" data-x="1" data-y="1"></td>
		<td id="row2-3" data-x="2" data-y="1"></td>
	</tr>
	<tr>
		<td id="row3-1" data-x="0" data-y="2"></td>
		<td id="row3-2" data-x="1" data-y="2"></td>
		<td id="row3-3" data-x="2" data-y="2"></td>
	</tr>
</table>

<div id="games"></div>

<div id="message"></div>

<button id="save">Save Game</button>
<button id="previous">Show Previous Games</button>
<button id="clear">Clear Current Game</button>
