<form action="/games" accept-charset="UTF-8" method="post">
	<input name="utf8" type="hidden" value="✓">
	<input type="hidden" name="authenticity_token" value="pwBL8J/0xlIuziO79gMbUB8GKoMsXX6N75jU3ewPzjPlMckcubzzcRhZzt1pqSngayUPuJTqK2J5R4raM3cIfg==">
	<input type="text" name="state" id="state">
	<input type="submit" name="commit" value="submit">
</form>


<!-- // <script type="text/javascript" charset="utf-8">
// 	$(function() {
// 		$('form').submit
// 	})
	
// </script>
 -->
