<form action="/games" accept-charset="UTF-8" method="POST">
  <input name="utf8" type="hidden" value="✓">
  <input name="state" type="text" id="state">
  <input name="commit" type="submit" value="submit">
</form>