<h1>Games#index</h1>

<table>
  <tr>
    <td>x0y0</td>
    <td>x1y0</td>
    <td>x2y0</td>
  </tr>
  
  <tr>
    <td>x0y1</td>
    <td>x1y1</td>
    <td>x2y1</td>
  </tr>

  <tr>
    <td>x0y2</td>
    <td>x1y2</td>
    <td>x2y2</td>
  </tr>
</table>

  <button>Save game</button>
  <button>Show previous games</button>
