/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* keyframes to add remove color */
 @keyframes dropRedChip {
  0%   {background-color: inherit;}
  50%  {background-color: red;}
  100% {background-color: inherit;}
 }
 @keyframes dropBlackChip {
  0%   {background-color: inherit;}
  50%  {background-color: black;}
  100% {background-color: inherit;}
 }

.red {
  background-color: red;
}

.black {
  background-color: black;
}

table {
  background-color: blue;
  border: 2px solid yellow;
}

td {
  background-image: url("http://www.413c.net/empty");
  background-size: 80px 80px;
  border: 1px solid yellow;
}

/* classes to add animations */

.red-drop {
  background-color: inherit;
  animation: dropRedChip 0.5s;
}

.black-drop {
  background-color: inherit;
  animation: dropBlackChip 0.5s;
}
