// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: table;
  margin: 0 auto;
  text-align: center;
}

table {
  margin-bottom: 1em;
}
