.wrapper {
  width: 100%;
}

.left-navigation {
  float: left;
  width: 30%;
  text-align: center;
}

#social-icons ul {
  padding: 0;
  margin-left: 0;
}

#social-icons li {
  list-style-type: none;
}

.right-navigation {
  float: right;
  width: 30%;
}
