@import url('https://fonts.googleapis.com/css?family=Rammetto+One');


body, table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 360px;
  margin: 40px auto 0px auto;
}

.options {
  margin: 20px auto 0px auto;
}

#message {
  font-size: 16px;
  margin-top: 15px;
}

td {
  width: 120px;
  height: 84px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 10px;
  background-color: rgb(64, 84, 178);
  font-family: 'Rammetto One', cursive;
}


li {
  cursor: pointer;
}
