#tictactoe {
  text-align:center;
}
#save {
  color:green;
}
#previous {
  color:yellow;
}
#clear {
  color:red;
}

table {
  margin-left:auto;
  margin-right:auto;
  td {
    border: 1px solid black;
  }
  .top {
    border-top: none;
  }
  .bottom {
    border-bottom: none;
  }
  .left {
    border-left: none;
  }
  .right {
    border-right: none;
  }
}

button {
  background:none;
  border:none;
}
