<!DOCTYPE html>
<html>
  <head>
    <title>jQuery Connect-FOUR</title>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Welcome to My World - The Connect Four World</h1>
    <%= yield %>
  </body>
</html>
